{% from "navbar.html" import nav_bar %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <title>Change Password</title>
</head>
<body>
    <div class="parent">
        <div class="header">
            {{ nav_bar() }}
            <h1>Change Password</h1>
        </div>
        <div class="content">
            <form action="/change_password" method="post">
                <div class="form-group">
                    <label for="old_password">Old Password:</label>
                    <input type="password" id="old_password" name="old_password" required>
                </div>
                <div class="form-group">
                    <label for="new_password">New Password:</label>
                    <input type="password" id="new_password" name="new_password" required>
                </div>
                <div class="form-group">
                    <label for="confirmation">Confirm New Password:</label>
                    <input type="password" id="confirmation" name="confirmation" required>
                </div>
                <button type="submit">Change Password</button>
            </form>
        </div>
    </div>
</body>
</html>
