{% from "navbar.html" import nav_bar %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BioBoss</title>

    <!--Link to our stylesheet -->
    <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet" />


</head>
<body>
     <div class="parent">
        <div class="header">
            {{ nav_bar() }}
           <h1>Choose from a variety of topics learn some cool facts!</h1>
           <h4>Click/Hover over each card to see the topics included in each module</h5>
        </div>
    </div>

    <!--Flip card info from Bootstrap code-->

    <div class="quiz-grid">
        <div class="quiz-module">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/static/geology.png" class="responsive-image">
                    </div>
                    <div class="flip-card-back">
                        <p>
                            Minerals
                        </p>
                        <p>
                            Rock Classifications
                        </p>
                        <p>
                            Volcanoes
                        </p>
                    </div>
                </div>
            </div>
            <a href="{{ url_for('quiz_page', quiz_id=1) }}">Geology</a>
        </div>
        <div class="quiz-module">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/static/genetics.png" class="responsive-image">
                    </div>
                    <div class="flip-card-back">
                        <p>
                            DNA structure
                        </p>
                        <p>
                            Laws of Genetics
                        </p>
                        <p>
                            Heritability
                        </p>
                    </div>
                </div>
                <a href="{{ url_for('quiz_page', quiz_id=2) }}">Genetics</a>
            </div>
        </div>
        <div class="quiz-module">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/static/plants.png" class="responsive-image">
                    </div>
                    <div class="flip-card-back">
                        <p>
                            Plant Structure
                        </p>
                        <p>
                            Photosynthesis
                        </p>
                        <p>
                            Cellular Respiration
                        </p>
                    </div>
                </div>
            </div>
            <a href="{{ url_for('quiz_page', quiz_id=3) }}">Plants</a>
        </div>



    </div>

</body>

