{% from "navbar.html" import nav_bar %}
<!--Dynamic Quiz page for all Quizzes-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ quiz.topic }}</title>
    <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet" />
</head>
<body>
    <div class="parent">
        <div class="header">
            {{ nav_bar() }}
           <h1>{{ quiz.topic }}</h1>
        </div>
    </div>
    <p>{{ quiz.description }}</p>

    <!-- Loop through questions in database -->
    {% for question in quiz['questions'] %}
        <div class="question">
            <h2>1. {{ question['question_text'] }}</h2>
            <ul>
                {% for answer in question['answers'] %}
                    <!--NOT CURRENTLY SHOWING MULTIPLE CHOICES; NEED TO FIX-->
                    <input type="checkbox" name="selected_answers" value="{{ answer.answer_id }}">
                    <li>{{ answer['answer_text'] }}</li>

                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    <button type="submit">Submit</button>

</body>
</html>


